.navbar {
    background-color: #28527a;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.nav-content {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
}

.nav-brand {
    font-size: 3rem;
    padding: 1rem 0;
}

.nav-brand .logo {
    text-decoration: none;
    color: #f4d160;
}

.nav-brand .logo:hover {
    color: #fbeeac;
}

.nav-links {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    transition: background-color 0.5s;
}

.nav-link:hover {
    background-color: #8ac4d0;
    cursor: pointer;
}

.nav-link a {
    font-size: 2rem;
    text-decoration: none;
    color: #f4d160;
    padding: 0 1rem;
    transition: color 0.5s;
}

.nav-link a:hover {
    color: #fbeeac;
}